.screen-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.screen-empty {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: appear 0.2s ease-in-out forwards;
}
