.screen-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.screen-empty {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 350px) {
  .screen-grid {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media only screen and (min-width: 530px) {
  .screen-grid {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media only screen and (min-width: 738px) {
  .screen-grid {
    grid-template-columns: repeat(4, 4fr);
  }
}
