/* BASE */
body,
html {
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* COLORS */
/* HOMEPAGE */
.home-wrapper {
  min-height: 100vh;
  background-image: url(../assets/images/background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

.home-container {
  margin: 0 auto;
  max-width: 1000px;
}

.home-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home-logo {
  max-width: 450px;
  width: 100%;
  -webkit-user-drag: none;
}

.home-content {
  position: relative;
  min-height: 300px;
  padding: 2rem 1.3rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 12px;
}

/* KEYFRAMES */
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*   --------  COMPONENTS ----------   */
/* SCREEN */
.screen-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.screen-empty {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  -webkit-animation: appear 0.2s ease-in-out forwards;
          animation: appear 0.2s ease-in-out forwards;
}

@media only screen and (min-width: 350px) {
  .screen-grid {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media only screen and (min-width: 530px) {
  .screen-grid {
    grid-template-columns: repeat(3, 3fr);
  }
}
@media only screen and (min-width: 738px) {
  .screen-grid {
    grid-template-columns: repeat(4, 4fr);
  }
}
/* CARD */
.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 10px;
  min-height: 138px;
  opacity: 0;
  -webkit-animation: appear 0.2s ease-in-out 0.1s forwards;
          animation: appear 0.2s ease-in-out 0.1s forwards;
}

.card-image-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.card-image-wrapper img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-text-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 7px;
}
.card-text-wrapper span {
  text-transform: capitalize;
  text-align: center;
  font-size: large;
  padding-bottom: 5px;
}

.card-type-wrapper {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.card-type {
  font-family: monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.644) 1px 2px 2px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  min-width: 60px;
}

.card-type.normal {
  background-color: #a8a777;
}
.card-type.normal:hover {
  background-color: #908f5c;
}

.card-type.fire {
  background-color: #ef7e2f;
}
.card-type.fire:hover {
  background-color: #da6411;
}

.card-type.bug {
  background-color: #a7b720;
}
.card-type.bug:hover {
  background-color: #7f8c18;
}

.card-type.fighting {
  background-color: #bf2f27;
}
.card-type.fighting:hover {
  background-color: #95251e;
}

.card-type.ghost {
  background-color: #6f5697;
}
.card-type.ghost:hover {
  background-color: #574377;
}

.card-type.flying {
  background-color: #a78fef;
}
.card-type.flying:hover {
  background-color: #8462e9;
}

.card-type.steel {
  background-color: #87878d;
}
.card-type.steel:hover {
  background-color: #6e6e73;
}

.card-type.poison {
  background-color: #9872bb;
}
.card-type.poison:hover {
  background-color: #7f51a9;
}

.card-type.ground {
  background-color: #dfbf68;
}
.card-type.ground:hover {
  background-color: #d6ad3e;
}

.card-type.water {
  background-color: #678fef;
}
.card-type.water:hover {
  background-color: #396dea;
}

.card-type.rock {
  background-color: #b69f37;
}
.card-type.rock:hover {
  background-color: #8f7d2b;
}

.card-type.grass {
  background-color: #77c74e;
}
.card-type.grass:hover {
  background-color: #5eac36;
}

.card-type.electric {
  background-color: #f7cf2f;
}
.card-type.electric:hover {
  background-color: #eabd09;
}

.card-type.psychic {
  background-color: #f65787;
}
.card-type.psychic:hover {
  background-color: #f32764;
}

.card-type.ice {
  background-color: #55b5c2;
}
.card-type.ice:hover {
  background-color: #3c9ba8;
}

.card-type.dark {
  background-color: #6e5747;
}
.card-type.dark:hover {
  background-color: #4f3e33;
}

.card-type.fairy {
  background-color: #fe64d4;
}
.card-type.fairy:hover {
  background-color: #fe31c6;
}

.card-type.dragon {
  background-color: #6f37f8;
}
.card-type.dragon:hover {
  background-color: #4d09f3;
}

/* TYPE BUTTON WRAPPER */
.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

/* TYPE BUTTON */
.type-button {
  outline: none;
  border: none;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.863) 0px 2px 2px;
  color: white;
  margin: 2px;
  min-width: 60px;
  border-radius: 5px;
  font-family: monospace;
  padding: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.1s ease;
}
.type-button.reset {
  background-color: #212127;
}
.type-button.reset:hover {
  background-color: #383843;
}
.type-button.reset:active {
  background-color: #50505e;
}

.type-button.normal {
  background-color: #a8a777;
}
.type-button.normal:hover {
  background-color: #908f5c;
}
.type-button.normal:active {
  background-color: #717048;
}

.type-button.fire {
  background-color: #ef7e2f;
}
.type-button.fire:hover {
  background-color: #da6411;
}
.type-button.fire:active {
  background-color: #ab4e0d;
}

.type-button.bug {
  background-color: #a7b720;
}
.type-button.bug:hover {
  background-color: #7f8c18;
}
.type-button.bug:active {
  background-color: #586011;
}

.type-button.fighting {
  background-color: #bf2f27;
}
.type-button.fighting:hover {
  background-color: #95251e;
}
.type-button.fighting:active {
  background-color: #6a1a16;
}

.type-button.ghost {
  background-color: #6f5697;
}
.type-button.ghost:hover {
  background-color: #574377;
}
.type-button.ghost:active {
  background-color: #3f3156;
}

.type-button.flying {
  background-color: #a78fef;
}
.type-button.flying:hover {
  background-color: #8462e9;
}
.type-button.flying:active {
  background-color: #6136e2;
}

.type-button.steel {
  background-color: #87878d;
}
.type-button.steel:hover {
  background-color: #6e6e73;
}
.type-button.steel:active {
  background-color: #555559;
}

.type-button.poison {
  background-color: #9872bb;
}
.type-button.poison:hover {
  background-color: #7f51a9;
}
.type-button.poison:active {
  background-color: #654186;
}

.type-button.ground {
  background-color: #dfbf68;
}
.type-button.ground:hover {
  background-color: #d6ad3e;
}
.type-button.ground:active {
  background-color: #ba9227;
}

.type-button.water {
  background-color: #678fef;
}
.type-button.water:hover {
  background-color: #396dea;
}
.type-button.water:active {
  background-color: #1750d9;
}

.type-button.rock {
  background-color: #b69f37;
}
.type-button.rock:hover {
  background-color: #8f7d2b;
}
.type-button.rock:active {
  background-color: #685b1f;
}

.type-button.grass {
  background-color: #77c74e;
}
.type-button.grass:hover {
  background-color: #5eac36;
}
.type-button.grass:active {
  background-color: #49852a;
}

.type-button.electric {
  background-color: #f7cf2f;
}
.type-button.electric:hover {
  background-color: #eabd09;
}
.type-button.electric:active {
  background-color: #b99507;
}

.type-button.psychic {
  background-color: #f65787;
}
.type-button.psychic:hover {
  background-color: #f32764;
}
.type-button.psychic:active {
  background-color: #db0c4a;
}

.type-button.ice {
  background-color: #55b5c2;
}
.type-button.ice:hover {
  background-color: #3c9ba8;
}
.type-button.ice:active {
  background-color: #2f7882;
}

.type-button.dark {
  background-color: #6e5747;
}
.type-button.dark:hover {
  background-color: #4f3e33;
}
.type-button.dark:active {
  background-color: #30261f;
}

.type-button.fairy {
  background-color: #fe64d4;
}
.type-button.fairy:hover {
  background-color: #fe31c6;
}
.type-button.fairy:active {
  background-color: #fa02b7;
}

.type-button.dragon {
  background-color: #6f37f8;
}
.type-button.dragon:hover {
  background-color: #4d09f3;
}
.type-button.dragon:active {
  background-color: #3d07c2;
}

/* SPINNER */
.spinner-container {
  position: relative;
  height: 200px;
  opacity: 0.6;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, 0.808);
  -webkit-animation: spin 0.8s linear 0s infinite;
          animation: spin 0.8s linear 0s infinite;
}
.spinner-pokeball:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid rgba(0, 0, 0, 0.699);
  top: -4px;
}
.spinner-pokeball:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 4px solid rgba(0, 0, 0, 0.808);
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}/*# sourceMappingURL=main.css.map */