.home-wrapper {
  min-height: 100vh;
  background-image: url(../assets/images/background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

.home-container {
  margin: 0 auto;
  max-width: 1000px;
}

.home-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
}

.home-logo {
  max-width: 450px;
  width: 100%;
  -webkit-user-drag: none;
}

.home-content {
  background-color: rgb(255, 255, 255);
  padding: 2rem 1.3rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 12px;
}
