.home-wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url(../assets/images/background.jpg);
  background-position: center -300px;
  background-size: 1100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #80b571;
}

.home-container {
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.home-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  user-select: none;
}

.home-logo {
  max-width: 450px;
  width: 100%;
  -webkit-user-drag: none;
}

.home-content {
  position: relative;
  min-height: 300px;
  padding: 2rem 1.3rem;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 12px;
}

.home-footer {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  padding: 1rem 2rem;
  font-size: small;
  background-color: #80b571;

  span {
    color: rgb(30, 65, 73);
  }
}

@media only screen and (min-width: 1000px) {
  .home-wrapper {
    background-position: center bottom;
    background-size: cover;
  }
}
