.home-wrapper {
  min-height: 100vh;
}

.home-container {
  margin: 0 auto;
  max-width: 1000px;
}

.home-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-main-title {
  font-family: "Pokemon Solid", sans-serif;
  color: orange;
}

.home-card-grid {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}
