.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.452) 0px 3px 10px;
}

.card-image-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
}

.card-name {
  text-transform: capitalize;
  text-align: center;
  font-size: large;
  padding-bottom: 5px;
}

.card-type-wrapper {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.card-type {
  box-shadow: rgba(0, 0, 0, 0.644) 1px 2px 2px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: monospace;
  padding: 5px;
  font-size: 0.9rem;
}

/// Iterate through array of colors
@each $typeColor, $i in $typeColors {
  .card-type.#{$typeColor} {
    background-color: $i;

    &:hover {
      background-color: darken($i, 10%);
    }
  }
}
