.type-button {
  outline: none;
  border: none;
  text-transform: uppercase;

  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.863) 0px 2px 2px;
  color: rgb(255, 255, 255);

  margin: 2px;
  min-width: 60px;
  border-radius: 5px;
  font-family: monospace;
  padding: 8px;
  font-size: 0.9rem;
  cursor: pointer;

  transition: all 0.1s ease;
}

/// Iterate through array of colors
@each $typeColor, $i in $typeColors {
  .type-button.#{$typeColor} {
    background-color: $i;

    &:hover {
      background-color: darken($i, 10%);
    }

    &:active {
      background-color: darken($i, 20%);
    }
  }
}
